---
layout: page
ref: index
title: Aktuell
page_title: "JKON 2026: CALL FOR ARTISTS"
lang: de
order: 1
hero_image: "images/index-hero.png"
---

<div class="section flex-wrap-container">
  <div class="flex-wrap-element">
    {% if site.call_for_artists %}
      {% include call-for-artists/left-column.html %}
    {% elsif site.artists_selected %}
      {% include artists-selected/index.html %}
    {% else %}
      <p>
        Der Call for Artists für die JKON 2026 wird im März veröffentlicht!
      </p>

      <p>
        Im Zentrum der JKON steht die Förderung von jungen Kunstschaffenden. Die JKON bietet eine Plattform, damit ausgewählte Kunstwerke und künstlerische Positionen einem breiten Publikum präsentiert werden können. Die Ausstellung wird umspielt von einem kleinen Rahmenprogramm zur Kunst und aktuellen Diskursen (Werkgespräche, Führungen, Performances, usw.). Ziel ist die Förderung des Austauschs und die Vernetzung von jungen Kunstschaffenden mit Besuchenden sowie mit Galerien, Museen und weiteren Kunstplattformen.
      </p>
    {% endif %}
  </div>

  {% if site.call_for_artists %}
    {% include call-for-artists/right-column.html %}
  {% endif %}
</div>
