---
layout: page
ref: index
title: Current
# page_title: "Call for Artists 2025: We are looking for you!"
page_title: "Call JKON 2026 in March!"
lang: en
order: 1
hero_image: "images/index-hero.png"
---

<div class="section flex-wrap-container">
  <div class="flex-wrap-element">
    {% if site.call_for_artists %}
      {% include call-for-artists/left-column.en.html %}
    {% elsif site.artists_selected %}
      {% include artists-selected/index.en.html %}
    {% else %}
      <p>
        The Call for Artists for JKON 2026 will be published in March!
      </p>

      <p>
        The association JKON aims to promote young artists. JKON offers a platform for presenting selected works of art and artistic positions to a wide audience. The exhibition is accompanied by a small supporting program on art and current discourses (talks, guided tours, performances, etc.). The aim is to promote exchange and networking between young artists and visitors as well as with galleries, museums and other art platforms.
      </p>
    {% endif %}    
  </div>

  {% if site.call_for_artists %}
    {% include call-for-artists/right-column.en.html %}
  {% endif %}
</div>
