<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title[page.lang] | escape }}</h2>

    <div class="footer-col-wrapper">
        
      <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      {%- include social.html -%}
      <a href="{{site.baseurl | append: '/impressum'}}">Impressum</a>

    </div>

  </div>

  <script> initalize(); // hacks to correct some template shortcomings, flo</script>

</footer>
