<footer aria-label="Footer">
  <div class="wrapper">
    <ul class="social-media-list">
      <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><a rel="me" href="https://www.facebook.com/jungekunstolten" title="facebook: jungekunstolten">facebook: jungekunstolten</a></li>
      <li><a rel="me" href="https://www.instagram.com/jkonolten" title="instagram: jkonolten">instagram: jkonolten</a></li>
      <li><a href="{{site.baseurl | append: '/impressum'}}">Impressum</a></li>
    </ul>
  </div>
</footer>
