Mit der Einreichung des Dossiers bestätige ich folgende Punkte:

<ul>
  <li><strong>Vernissage</strong>: 30.8.2025, Kunstverein Olten, Hübelistrasse 30, 4600 Olten.</li>
  <li><strong>Ausstellungsdauer</strong>: 31.8.2025 - 27.9.2025, </li>
  <li><strong>Öffnungszeiten</strong>: jeweils Donnerstag und Freitag: 14 bis 17 Uhr, Samstag und Sonntag 10 bis 17 Uhr</li>
  <li><strong>Aufbau</strong>: Der/Die Kunstschaffende verpflichtet sich, die auszustellenden Werke vom 25.08. - 30.08.2025 in einwandfreiem Zustand der JKON zu übergeben und selbstständig in Absprache mit der Kuration aufzuhängen.</li>
  <li><strong>Abbau</strong>: Der/ Die Kunstschaffende verpflichtet sich, die auszustellenden Werke vom 01.09. - 07.09.2025 wieder abzubauen.</li>
  <li><strong>Kunsttransport</strong>: Der/ Die Kunstschaffende organisiert den Hin-, sowie den Rücktransport der auszustellenden Werke selbst. Allfällige Kosten gehen zu Lasten der Kunstschaffenden. </li>
  <li><strong>Honorar</strong>: Die Kunstschaffenden erhalten ein kleines Honorar von ca. 200 Franken.</li>
  <li><strong>Rechte</strong>: Der/ Die Kunstschaffende bestätigt alleinige Inhaber / alleinige Inhaberin sämtlicher Rechte an den auszustellenden Werken zu sein und mit ihren/seinen Werken keinerlei Persönlichkeitsrechte zu verletzen. Allfällige Quellen sind anzugeben.</li>
  <li><strong>Werbung / Kommunikation</strong>: Der/ Die Kunstschaffende willigt ein, dass die JKON eines oder mehrere Werke im Rahmen der Werbemassnahmen reproduziert und verbreitet sowie die Darstellung der Werke in Dokumentationen und Publikationen der Tätigkeiten der JKON. </li>
  <li><strong>Kosten</strong>: Der Verein JKON realisiert die Ausstellung auf eigene Kosten und Risiken in Zusammenarbeit mit dem Kunstverein Olten. </li>
  <li><strong>Versicherung</strong>: Der Verein JKON schliesst eine Versicherung gegen Diebstahl, Beschädigung und Zerstörung ab und haftet gegenüber dem/der Kunstschaffenden ab Zeitpunkt der Übergabe der Werke bis zum Ende der Ausstellung für abhanden gekommene oder beschädigte Werke; ausgenommen sind Fälle von höherer Gewalt oder Selbstverschulden. Andere Veränderungen oder Verschlechterungen an den Werken, die trotz sorgfältigem Gebrauch entstehen, hat der Verein JKON nicht zu verantworten.</li>
  <li><strong>Verkauf</strong>: Der Verein JKON verlangt keine Gewinnbeteiligung an verkauften Werken.</li>
</ul>


By submitting the dossier, I confirm the following points:
<ul>
  <li><strong>Vernissage:</strong> 30.8.2025, Kunstverein Olten, Hübelistrasse 30, 4600 Olten.</li>
  <li><strong>Exhibition duration:</strong> 31.8.2025 - 27.9.2025, </li>
  <li><strong>Opening hours:</strong> Thursday and Friday: 2 p.m. to 5 p.m., Saturday and Sunday 10 a.m. to 5 p.m.</li>
  <li><strong>Installation:</strong> The artist undertakes to hand over the works to be exhibited to JKON from 25.08. - 30.08.2025 in perfect condition and to hang them independently in consultation with the curator.</li>
  <li><strong>Dismantling:</strong> The artist undertakes to dismantle the works to be exhibited from 01.09. - 07.09.2025.</li>
  <li><strong>Art transport:</strong> The artist organizes the outward and return transport of the works to be exhibited him/herself. Any costs shall be borne by the artist. </li>
  <li><strong>Fee:</strong> The artists receive a small fee of approx. 200 CHF.</li>
  <li><strong>Rights:</strong> The artist confirms that he/she is the sole owner of all rights to the works to be exhibited and that his/her works do not infringe any personal rights. Any sources must be indicated.</li>
  <li><strong>Advertising / Communication:</strong> The artist agrees that JKON may reproduce and distribute one or more works as part of its advertising activities and that the works may be presented in documentation and publications relating to JKON's activities. </li>
  <li><strong>Costs:</strong> JKON realizes the exhibition at its own expense and risk in cooperation with the Kunstverein Olten. </li>
  <li><strong>Insurance:</strong> JKON takes out insurance against theft, damage and destruction and is liable to the artist(s) for lost or damaged works from the time the works are handed over until the end of the exhibition, with the exception of cases of force majeure or self-inflicted damage. JKON is not responsible for other changes or deterioration of the works that occur despite careful use.</li>
  <li><strong>Sale:</strong> JKON does not demand a share of the profits from sold works.</li>
</ul>
