<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  
  <link rel="stylesheet" href="{{ "/css/jkon.css" | relative_url }}">
  <script type="text/javascript" src="{{ "js/jkon.js" | relative_url }}"></script>
  
  <link rel="shortcut icon" href="/images/jkon-logo.ico">

  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <link href="/css/nanogallery2-3.0.5.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/jquery.nanogallery2-3.0.5.min.js"></script>
</head>
