<h2>JKON 2015</h2>

<p>
  <strong>Les lauréats / les lauréates</strong>: <a href="https://www.charlottefriedli.com/">Charlotte Friedli</a>, <a href="http://www.nadiabader.ch/">Nadia Bader</a>, <a href="http://www.adhihetty.ch/">Roshan Adhihetty</a>
</p>

<strong>Artistes</strong>:
<p>
  <a href="http://www.anna-andris.de/">Anna Andris-Schwindt</a>,
  Aresu Khosy,
  <a href="http://www.carolbaumgartner.net/">Carol Baumgartner</a>,
  <a href="https://www.charlottefriedli.com/">Charlotte Friedli</a>,
  <a href="https://janinestrasser.allyou.net/">Janine Strasser</a>,
  Manuel Guldimann,
  Marea Hildebrand,
  <a href="http://www.nadiabader.ch/">Nadia Bader</a>,
  Paloma Egger,
  Polina Chizhova,
  <a href="http://artscience.uni-ak.ac.at/people/herr__rafael_lippuner">Rafael Lippuner</a>,
  <a href="https://www.zhdk.ch/person/207098">Ronja Römmelt</a>,
  <a href="http://www.adhihetty.ch/">Roshan Adhihetty</a>,
  Simon Hofmann,
  <a href="http://tyronerichards.ch/">Tyrone Richards</a>,
  <a href="https://vimeo.com/user18355118">Ursina Leutenegger</a>,
  Micha Reichenbach
</p>

