<h2>JKON 2016</h2>

<p>
  <strong>Preisträger</strong>: <a href="https://macherei.com/">Jan Merlin Pulfer</a>, <a href="https://fabianmatz.com/">Fabian Matz</a>, <a href="http://samuel-kunz.tumblr.com/">Samuel Kunz</a>
</p>

<strong>Artistes</strong>:
<p>
  Corina Heinrich,
  Daniel Müller,
  <a href="https://fabianmatz.com/">Fabian Matz</a>,
  <a href="https://macherei.com/">Jan Merlin Pulfer</a>,
  <a href="https://julianussbaumer.com/">Julia Nussbaumer</a>,
  <a href="http://www.juliaschicker.ch/">Julia Schicker</a>,
  <a href="http://laurievannaz.wixsite.com/portfolio">Laurie Vannaz</a>,
  <a href="http://www.maevarosset.com/">Maeva Rosset</a>,
  Matthias Amsler,
  <a href="https://www.naomifigueiredo.com/">Naomi Figueiredo</a>,
  <a href="http://www.nicosebastianmeyer.com/">Nico Sebastian Meyer</a>,
  <a href="https://pearliefrisch.com/">Pearlie Frisch</a>,
  <a href="http://rubenfrei.com/">Ruben Frei</a>,
  <a href="http://saratordini.tumblr.com/">Sara Tordini</a>,
  <a href="http://samuel-kunz.tumblr.com/">Samuel Kunz</a>,
  <a href="http://www.selinazuerrer.ch/">Selina Zürrer</a>,
  <a href="http://www.thomasgeorgblank.de/">Thomas Blank</a>
</p>


<img src="images/jkon1.jpg" alt="JKON Stimmungsbild 1">