<h2>JKON 2018</h2>

<p>
  <strong>Les commissaires</strong>: 
  Tanja Breu, 
  Antonella Barone
</p>

<p>
  <strong>Les lauréats / les lauréates</strong>: 
  <a href="http://www.aramisnavarro.com/">Aramis Navarro</a>, 
  <a href="http://yasminmattich.wixsite.com/portfolio">Yasmin Mattich</a>, 
  Alizé Rose-May Monod
</p>

<strong>Artistes</strong>:
<p>
  Alizé Rose-May Monod, 
  Anna Marcus, 
  <a href="http://www.aramisnavarro.com/">Aramis Navarro</a>, 
  <a href="http://www.corinaschaltegger.ch/">Corina Schaltegger</a>, 
  <a href="https://blanktree.ch/">Fernando Obieta</a>, 
  <a href="https://www.gregor-vogel.com/">Gregor Vogel</a>, 
  <a href="https://heleneggenschwiler.ch/">Helen Eggenschwiler</a>, 
  <a href="https://kasparflueck.com/">Kaspar Flück</a>, 
  Kornelia Hui, 
  Lea Meier, 
  <a href="https://www.liviobeyeler.com/">Livio Beyeler</a>, 
  Manutcher Milani, 
  Marlijn Karsten, 
  <a href="https://www.michaelreinhold.org/">Michael Reinhold</a>, 
  Mirkan Deniz, 
  Nina Carla Hunziker, 
  <a href="https://www.sebastianhaas.ch">Sebastian Haas</a>, 
  <a href="http://yasminmattich.wixsite.com/portfolio">Yasmin Mattich</a>
</p>

<img src="images/past-exhibitions/2018/jkon3.jpg" alt="JKON Stimmungsbild 3">
