<h2><a href="/artists/2019.html">JKON 2019</a></h2>

<p>
  <strong>Kuratorinnen</strong>: 
  Janine Strasser, 
  Nermina Serifovic
</p>

<p>
  <strong>Preisträger:innen</strong>: 
</p>

<p>Anina Müller (Bargeldpreis von 5'000.- CHF der Hans und Beatrice Maurer-Billeter-Stiftung)</p>
<p>Luca Harlacher (Sommerfenster im Kunsthaus Zofingen LOOK@JKON 2019)</p>
<p>Denis Roueche (Ausstellung im Dienstraum des Kunstmuseum Olten 2020)</p>

<strong>Künstler:innen</strong>:

<p>
  {%- assign artists = site.artists | where: "artist.year", "2019" | map: "artist" -%}
  {%- include index/artist-links.html artists=artists -%}
</p>
