<h2><a href="/artists/2019.html">JKON 2019</a></h2>

<p>
  <strong>Les commissaires</strong>: 
  Janine Strasser, 
  Nermina Serifovic
</p>

<p>
  <strong>Les lauréats / les lauréates</strong>: 
</p>

<p>Anina Müller (Prix de la fondation Maurer-Billeter de CHF 5000)</p>
<p>Luca Harlacher (exposition dans la vitrine d'été du Kunsthaus Zofingen LOOK@JKON 2019)</p>
<p>Denis Roueche (exposition dans le "Dienstraum", musée d'art d'Olten, 2020)</p>

<strong>Artistes</strong>:

<p>
  {%- assign artists = site.artists | where: "artist.year", "2019" | map: "artist" -%}
  {%- include index/artist-links.html artists=artists -%}
</p>
