<div ID="ngy2p" data-nanogallery2='{
    "itemsBaseURL": "/images/past-exhibitions/2021/",
    "thumbnailWidth": "240",
    "thumbnailHeight": "320",
    "thumbnailAlignment": "center",
    "thumbnailOpenImage": true,
    "viewerTools": {
      "topLeft": "pageCounter",
      "topRight": "zoomButton, fullscreenButton, closeButton"
    },
    "imageTransition": "swipe"
  }'>

  {% assign image_file_names = "JKON2021.jpg JKON2021_Förderpreisgewinner_LorenzFischer-NathalieStirnimann-StefanStojanovic.jpg JKON2021_LorenzFischer.jpg JKON2021_NathalieStirnimann-StefanStojanovic.jpg JKON2021_Werkgespräche-LorenzFischer.jpg JKON2021_Werkgespräche_NathalieStirnimann-StefanStojanovic.jpg" | split: " " %}

  {% for image_file_name in image_file_names %}
    <a href="big/{{ image_file_name }}" data-ngthumb="small/{{ image_file_name }}" data-ngdesc=""></a>
  {% endfor %}
</div>
