<p>
  {%- for artist_hash in site.data.artists.a2019 -%}
    {%- assign artist = artist_hash[1] -%}
    
    {%- unless artist.cancelled -%}
      {%- for person in artist.persons -%}
        {%- capture link_text -%}
          {{ person.name }}
        {%- endcapture -%}

        {%- if person.website_url -%}
          <a href="{{person.website_url}}" target="_blank">
            {{ link_text }}
          </a>
        {%- else -%}
          {{ link_text }}
        {%- endif -%}
        ,&nbsp;
      {%- endfor -%}
    {%- endunless -%}
  {%- endfor -%}
</p>