$body-background: #FCFDFA;
$primary-color: #FF6464;
$active-color: #FF6464; 
$secondary-color: #FF6464;
$light-color: #FCFDFA;

$break-small: 640px;

$anchor-font-color: $secondary-color;
$header-font-color: $primary-color;
$row-width: 51.5%;