{%- assign artist = include.artist -%}

{%- unless artist.cancelled -%}
  {%- for person in artist.persons -%}
    {%- capture link_text -%}
      {{ person.name }} (*{{ person.birth_year }})
    {%- endcapture -%}

    <h3>
      {%- if person.website_url -%}
        <a href="{{person.website_url}}" target="_blank">
          {{ link_text }}
        </a>
      {%- else -%}
        {{ link_text }}
      {%- endif -%}
    </h3>
  {%- endfor -%}

  {%- if artist.portrait_image.big -%}
    <img src="{{ artist.portrait_image.big }}" alt="portrait">
  {%- endif -%}
  
  <p>
    {{ artist.biography }}
  </p>

  {%- for artwork_image in artist.artwork_images.big -%}
    <img src="{{ artwork_image }}" alt="artwork">
  {%- endfor -%}

  {%- if artist.art_description -%}
    <p>
      {{ artist.art_description }}
    </p>
  {%- endif -%}
{%- endunless -%}
