{%- assign artist = include.artist -%}

{%- unless artist.cancelled -%}
  <a href="/artists/{{ artist.year }}/{{ artist.persons | map: "name" | join }}">
    <div class="artist-thumbnail" style="background-image: url({{ artist.portrait_image.small }})">
      <div class="artist-name">
        {%- for person in artist.persons -%}
          {%- capture link_text -%}
            {{ person.name }} (*{{ person.birth_year }})
          {%- endcapture -%}

          <h3>{{ link_text }}</h3>
        {%- endfor -%}
      </div>
    </div>
  </a>
{%- endunless -%}
