<p>
  Die JKON hat sich als nicht-gewinnorientierte Plattform für junge Kunst in Olten etabliert. Wir haben in der Schützenmatte über Jahre eine Kunstausstellung produziert (2016 - 2022), eine Retrospektive im Kunstmuseum Olten realisiert (2023) und immer wieder den Diskurs über Kunst und ihre Rolle in der Gesellschaft gesucht.
</p>

<p>
  Für die 10. Ausgabe (2025) gehen wir neue Wege: Drei kleine Räume im Kunstverein Olten werden unser Schauplatz. Wir rücken enger zusammen, verdichten unsere Ausstellung und schaffen eine intime Atmosphäre für Austausch und Reflexion. Was bedeutet es, Kunst auf kleinem Raum zu präsentieren? Wie verändert sich der Dialog zwischen den Werken und den Kunstschaffenden? 
</p>

<p>
  Wir haben junge Kunstschaffende eingeladen, sich mit dem Thema <em>«Dichtung»</em> auseinanderzusetzen – in ihren vielseitigen Bedeutungen. Ob poetische Verdichtung, materielle Kompression oder konzeptuelle Zuspitzung – die Beschränkung des Raumes wird zur Qualität der Ausstellung. Wie kann Kunst im Kleinen Grosses erzählen? Welche Ausdrucksformen entstehen, wenn Enge zur Inspiration wird?
</p>

<h2>JKON 2025 «Dichtung»</h2>

<p>
  vom 30.08.2025 bis 27.09.2025<br>
  zu Gast in den Räumlichkeiten des Kunstvereins Olten
</p>

<p>
  Kunstschaffende:<br>
  Mariam Abashidze, Loris Delfino Fidel Bessler, Nico Gehbauer, Ramon Iten, Timm Kornelius, Lorena Lira, Sarah Lokalema, Nolan Lucidi, Ricardo Meli, Laura Nan, Laura Veenemans, Lea Vetter, Cosimo Wunderlin
</p>

<p>
  Kuration:<br>
  Florian Amoser, Lorenz Fischer, Nermina Šerifović
</p>

<p>
  Öffnungszeiten Kunstverein / Ausstellung:
</p>

<p>
  Donnerstag/Freitag: 14:00-17:00<br>
  Samstag/Sonntag: 10:00-17:00
</p>

<p>
  Der Zugang zu den Räumlichkeiten des Kunstvereins ist nicht barrierefrei.<br>
  Eintritt kostenlos. 
</p>

<b>Programm</b>

<table>
  <tbody>
    <tr class="spacer"></tr>
    <tr><td>Samstag, 30.08.2025</td><td>Vernissage</td></tr>
    <tr><td>13:45-17:45</td><td>Performance "quattro ore su una nota sola" von Timm Kornelius<br>4-stündige Solo Performance mit Fagott und Looper</td></tr>
    <tr><td>17:50</td><td>Ansprache, anschliessend Apéro und Musik</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Sonntag, 14.09.2025</td></tr>
    <tr><td>14:15-15:45</td><td>Führung durch die Ausstellung mit Anwesenheit der Kunstschaffenden</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Samstag, 20.09.2025</td></tr>
    <tr><td>13:45-17:45</td><td>Performance "quattro ore su una nota sola" von Timm Kornelius<br>4-stündige Solo Performance mit Fagott und Looper</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Sonntag, 21.09.2025</td></tr>
    <tr><td>14:15-15:15</td><td>Literarische Führung mit Jonas Frey</td></tr>
    <tr><td></td><td>Jonas Frey, 1995 in Olten, schreibt realistische Erzählungen und surrealistische Gedichte. Er hat an den Literaturinstituten Biel und Leipzig studiert. Zuletzt erschien die Kurzgeschichte Tisch 7 in der Leipziger Tippgemeinschaft. Er arbeitet als Journalist.</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Samstag, 27.09.2025</td><td>Finissage</td></tr>
    <tr><td>16:15</td><td>Vergabe der Förderpreise</td></tr>
  </tbody>
</table>
