<p>
  JKON has established itself as a non-profit platform for young art in Olten. Over the years, we have produced an art exhibition in the Schützenmatte (2016 - 2022), realized a retrospective in the Kunstmuseum Olten (2023) and repeatedly reflected discourse on art and its role in society.
</p>

<p>
  For the 10th edition (2025), we are breaking new grounds: three small rooms in the Kunstverein Olten will be our venue. We are moving closer together, condensing our exhibition and creating an intimate atmosphere for exchange and reflection. What does it mean to present art in a small space? How does the dialog between the works and the artists change? 
</p>

<p>
  We invited young artists to explore the theme of <em>«Dichtung»</em> - in its many different meanings (poetry, material, fiction, packaging etc.). Whether poetic condensation, material compression or conceptual intensification - the limitation of space becomes the quality of the exhibition. How can art on a small scale tell a big story? What forms of expression emerge when confinement becomes inspiration? 
</p>

<h2>JKON 2025 «Dichtung»</h2>

<p>
  from 30.08.2025 to 27.09.2025<br>
  as a guest in the premises of the Kunstverein Olten
</p>

<p>
  Artists:<br>
  Mariam Abashidze, Loris Delfino Fidel Bessler, Nico Gehbauer, Ramon Iten, Timm Kornelius, Lorena Lira, Sarah Lokalema, Nolan Lucidi, Ricardo Meli, Laura Nan, Laura Veenemans, Lea Vetter, Cosimo Wunderlin
</p>

<p>
  Curation:<br>
  Florian Amoser, Lorenz Fischer, Nermina Šerifović
</p>

<p>
  Opening hours Kunstverein / exhibition:
</p>

<p>
  Tuesday/Friday: 14:00-17:00<br>
  Saturday/Sunday: 10:00-17:00
</p>

<p>
  Access to the Kunstverein premises is not barrier-free.<br>
  Admission free of charge. 
</p>

<b>Programme</b>


<table>
  <tbody>
    <tr class="spacer"></tr>
    <tr><td>Saturday, 30.08.2025</td><td>Vernissage</td></tr>
    <tr><td>13:45-17:45</td><td>Performance "quattro ore su una nota sola" by Timm Kornelius<br>4-hour solo performance with bassoon and looper</td></tr>
    <tr><td>17:50</td><td>Speech followed by aperitif and music</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Sunday, 14.09.2025</td></tr>
    <tr><td>14:15-15:45</td><td>Guided tour of the exhibition with artists</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Friday, 19.09.2025</td></tr>
    <tr><td>13:45-17:45</td><td>Performance "quattro ore su una nota sola" by Timm Kornelius<br>4-hour solo performance with bassoon and looper</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Sunday, 21.09.2025</td></tr>
    <tr><td>14:15-15:15</td><td>Literary guided tour with Jonas Frey</td></tr>
    <tr><td></td><td>Jonas Frey, born in Olten in 1995, writes realistic stories and surrealist poems. He studied at the literary institutes in Biel and Leipzig. His short story Tisch 7 was recently published in the Leipziger Tippgemeinschaft. He works as a journalist.</td></tr>

    <tr class="spacer"></tr>
    <tr><td>Saturday, 27.09.2025</td><td>Finissage</td></tr>
    <tr><td>16:15</td><td>Awarding of the sponsorship prizes</td></tr>
  </tbody>
</table>
