<p>
  JKON has established itself as a non-profit platform for young art in Olten. Over the years, we have produced an art exhibition in the Schützenmatte (2016 - 2022), realized a retrospective in the Kunstmuseum Olten (2023) and repeatedly reflected discourse on art and its role in society.
</p>

<p>
  For the 10th edition (2025), we are breaking new grounds: three small rooms in the Kunstverein Olten will be our venue. We are moving closer together, condensing our exhibition and creating an intimate atmosphere for exchange and reflection. What does it mean to present art in a small space? How does the dialog between the works and the artists change? 
</p>

<p>
  We invited young artists to explore the theme of <em>«Dichtung»</em> - in its many different meanings (poetry, material, fiction, packaging etc.). Whether poetic condensation, material compression or conceptual intensification - the limitation of space becomes the quality of the exhibition. How can art on a small scale tell a big story? What forms of expression emerge when confinement becomes inspiration? 
</p>

<p>
  JKON 2025 «Dichtung»
</p>

<p>
  as a guest in the premises of the Kunstverein Olten
</p>

<p>
  Artists:<br>
  Mariam Abashidze, Loris Delfino Fidel Bessler, Nico Gehbauer, Ramon Iten, Timm Kornelius, Lorena Lira, Sarah Lokalema, Nolan Lucidi, Ricardo Meli, Laura Nan, Laura Veenemans, Lea Vetter, Cosimo Wunderlin
</p>

<p>
  from 30.08.2025 to 27.09.2025
</p>

<p>
  Vernissage: 30.08.2025, 17:15
</p>

<p>
  Finissage: 27.09.2025, 16:15
</p>

<p>
  Curation:<br>
  Florian Amoser, Lorenz Fischer, Nermina Šerifović
</p>
