<p>
  Die JKON hat sich als nicht-gewinnorientierte Plattform für junge Kunst in Olten etabliert. Wir haben in der Schützenmatte über Jahre eine Kunstausstellung produziert (2016 - 2022), eine Retrospektive im Kunstmuseum Olten realisiert (2023) und immer wieder den Diskurs über Kunst und ihre Rolle in der Gesellschaft gesucht.
</p>

<p>
  Für die 10. Ausgabe (2025) gehen wir neue Wege: Drei kleine Räume im Kunstverein Olten werden unser Schauplatz. Wir rücken enger zusammen, verdichten unsere Ausstellung und schaffen eine intime Atmosphäre für Austausch und Reflexion. Was bedeutet es, Kunst auf kleinem Raum zu präsentieren? Wie verändert sich der Dialog zwischen den Werken und den Kunstschaffenden? 
</p>

<p>
  Wir haben junge Kunstschaffende eingeladen, sich mit dem Thema <em>«Dichtung»</em> auseinanderzusetzen – in ihren vielseitigen Bedeutungen. Ob poetische Verdichtung, materielle Kompression oder konzeptuelle Zuspitzung – die Beschränkung des Raumes wird zur Qualität der Ausstellung. Wie kann Kunst im Kleinen Grosses erzählen? Welche Ausdrucksformen entstehen, wenn Enge zur Inspiration wird?
</p>

<p>
  JKON 2025 «Dichtung»
</p>

<p>
  zu Gast in den Räumlichkeiten des Kunstvereins Olten
</p>

<p>
  Kunstschaffende:<br>
  Mariam Abashidze, Loris Delfino Fidel Bessler, Nico Gehbauer, Ramon Iten, Timm Kornelius, Lorena Lira, Sarah Lokalema, Nolan Lucidi, Ricardo Meli, Laura Nan, Laura Veenemans, Lea Vetter, Cosimo Wunderlin
</p>

<p>
  vom 30.08.2025 bis 27.09.2025
</p>

<p>
  Vernissage: 30.08.2025, 17:15
</p>

<p>
  Finissage: 27.09.2025, 16:15
</p>

<p>
  Kuration:<br>
  Florian Amoser, Lorenz Fischer, Nermina Šerifović
</p>

