<p>
  Die Junge Kunst Olten (JKON) ist eine nicht-gewinnorientierte Plattform für junge Kunstschaffende aus der ganzen Schweiz. Mit einer jährlichen Ausstellung in der Stadt Olten fördert sie Kunstschaffende im Alter zwischen 18 und 35 Jahren und gestaltet so den Diskurs über Kunst und ihre Rolle in der Gesellschaft aktiv mit.
</p>

<p class="bold">
  Für die 11. Ausgabe laden wir zur Teilnahme an einer kuratierten Gruppenausstellung ein. Unter dem Titel <em>«Transit»</em> widmet sich die Ausstellung Übergängen und Prozessen des Wandels. Passend zum Thema wird der diesjährige Ausstellungsort eine Zwischennutzung sein.
</p>

<p>
  Transit beschreibt das Dazwischen: einen schwebenden Moment zwischen Bewegung und Stillstand, Fortgehen und Ankommen, zwischen Orten, Zeiten oder inneren wie äusseren Zuständen. Gesucht werden künstlerische Positionen, die sich mit gesellschaftlichen, emotionalen oder körperlichen Veränderungen auseinandersetzen. Im Fokus stehen das Flüchtige und Unverbindliche, das Durchqueren oder Verharren im Übergang.
</p>

<p class="bold">
  Wir suchen dich!
</p>

<p>
  Du bist zwischen 18 und 35 Jahre alt, kunstschaffend und möchtest deine Werke vom 21.08. bis 29.08.2026 in einer Zwischennutzung in der Stadt Olten präsentieren? Dann nutze diese Chance und bewirb dich! Reiche deine <strong>Anmeldung bis zum 04.05.2026</strong> ein und werde Teil unserer Ausstellung zum Thema <em>«Transit»</em>.
</p>

<p>
  Im Zentrum der JKON steht die Förderung junger künstlerischer Positionen. Sie bietet eine Plattform, auf der ausgewählte Arbeiten einem breiten Publikum präsentiert werden. Die Ausstellung wird von einem Rahmenprogramm ergänzt, das aktuelle künstlerische und gesellschaftliche Diskurse aufgreift. Ziel ist es, den Austausch zu ermöglichen und junge Kunstschaffende mit Besuchenden sowie mit Galerien, Museen und weiteren Kunstplattformen zu vernetzen. Unter allen Ausstellenden werden drei Förderpreise vergeben.
</p>
